<div class="my-credits">

	<div class="credits-used" style="width: {{ ((monthly_credits - remaining_credits) / monthly_credits) * 100 }}%;" >
		<span>{{ remaining_credits }} out of {{ monthly_credits }} remaining</span>
	</div>
</div>