<div class="my-credits">
	<div class="credits-remaining">{{ remaining_credits }} unused credits</div>
	<div class="credits-used" style="width: {{ ((monthly_credits - remaining_credits) / monthly_credits) * 100 }}%;" >
	</div>
</div>