
<tr>
  <td>
    <em>New Employee</em>
  </td>
  <td>
    <input placeholder="Add Employee's Email">
  </td>
  <td>
    <input placeholder="Monthly Credits" value="<%= @account.default_monthly_credits %>">
  </td>
  <td>
    <button ng-click="hi()">Add</button>
  </td>
</tr>