<tr ng-repeat="user in new_users">
  <td>{{user.name}}</td>
  <td>{{user.email}}</td>
  <td>{{user.monthly_credits}}<input placeholder="Employee Credits" ng-model="user.monthly_credits"/> </td>
  <td></td>
</tr>

