<p>
Hey Person,
</p>

<p>
You've been added to an account on Perky!
</p>

<p>
Now need you to create a password so you can go and get your awesome perks!
</p>

<p>
Visit <%= link_to 'this', account_new_user_welcome_url(@account, token: @user.reset_password_token) %> link, set your password, and then go and pick your perks.
</p>

