<p>
Hey Person,
</p>

<p>
You've been added to an account on Perky!
</p>

<p>
That's great and all but we now need you to create a password so you can go and get awesome things!
</p>
<p>
Visit this <%= link_to 'this', account_new_user_welcome_url(@account, token: @user.reset_password_token) %>, set your password, and pick your perks.
</p>

