@import "variables.css.scss";

.landHeader{
	height: 400px;;
	width: 100%;
	background-image: image-url('cover.png');
	background-position: center center;
	background-size: cover;
	background-color: #86C351;
	position: relative;
	
	.signupButton{
		display: none;
	}
}

.landHeader nav{
	background-color: transparent !important;
}

.btn-landing, .btn-landing:focus{
	position: absolute;
	left: 50%;
	bottom: 40px;
	background: transparent;
	border: 3px solid white;
	color: white;
	margin-left: -90px;
	width: 180px;
	text-align: center;
	font-size: 18pt;
	outline: none;
	
	&:hover{
		background-color: rgba(white,0.5);
		color: black;	
	}
}


.landingContent{
	background-color: white;
	padding: 10px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;

	.perksList {
		list-style: none;

		> li {
			float: left;
			display: none;

			&.previous {
				display: block;
				opacity: 0.5;
			}

			&.featured {
				display: block;
				opacity: 1.0;
			}

			&.next {
				display: block;
				opacity: 0.5;
			}
		}
	}
}

.landingContent h1{
	font-size: 36pt;
}

.landingContent .row{
	margin-bottom: 40px;
}

.red{
	background-color: red;
}

.leftText{
	text-align: left;
}

.landingImg{
	border: 1px inset rgba(black,0.2);
}

.sideText p{
	font-size: 18pt;
}