<!DOCTYPE html >
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div>
      Perky mail!
    </div>
    <%= yield %>
    <div>

    <p>
    Sincerely,
      Folks at Perky
    </p>

    </div>
  </body>
</html>
